:root {
  --color-brand-normal: #f5a442;
  --color-brand-light: #fcc888;
  --color-brand-dark: #de7d07;
  --color-primary-light: #FAF4EA;
  --color-primary-dark: #2d5c03;
  --color-secondary-dark: #83c447;
}